<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <i class="fa-brands fa-pied-piper-alt"></i>
    <b class="ml-2">WonderLust</b>
  </a>

  <!-- Toggler for mobile -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
    <a class="btn btn-outline-primary mr-2 my-1 my-md-0" href="/">Home</a>
    <a class="btn btn-outline-primary mr-2 my-1 my-md-0" href="/listing">All Listings</a>
    <a class="btn btn-primary my-1 my-md-0" href="/listing/new">Add New Listing</a>
  </div>
</nav>
